<header id="main-header">
    <div class="logo">
        [<span class="white">nod</span><span class="red">pod.us]</span>
    </div>
    <nav>
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="cart.html">Cart</a>
        <a href="checkout.html">Checkout</a>
        <a href="account.html">My account</a>
        <a href="dealers.html">Authorized dealers</a>
        <a href="about.html">About us</a>
        <a href="contact.html">Contact</a>
    </nav>
    <div class="hamburger-menu">☰</div>
</header>